/* Header/Blog Title */
html {
    background: #FFFFFF;
    background-size: cover;
}

@media screen and (max-width: 1280px) and (max-height: 800px) {
    body {
        zoom: 67%
    }
}

@font-face {
    font-family: Visuelt;
    src: url(VisueltPro-Light.ttf);
}

* {
    font-family: Visuelt;
}

.header {
    padding: 5px;
    text-align: center;
    background: #FDFEFE;
    color: #797D7F;
    font-size: 10px;
}

.subHeader {
    padding: 5px;
    text-align: center;
    background: #FDFEFE;
    color: #797D7F;
    font-size: 50px;
}

.mainHeading{
    text-align: center;
    color: #474A4C;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #FFFFFF;
}

/* Style the topnav links */
.topnav a {
    float: right;
    display: block;
    background-color: #FFFFFF;
    color: #474A4C;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}


#appStructure{
    background-color: #D7DADC; opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.columnTrend {
    float: left;
    width: 20%;
    padding: 0 6px;
}

.rowTrend:after {
    content: "";
    display: table;
    clear: both;
}

/*.row {margin: 0 -5px;}*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    margin-left: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 10%;
    height: 15%;
    text-align: center;
    background-color: #f1f1f1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
.card:hover > .banner{
    visibility: visible;
}

.cardA {
    margin-left: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 75%;
    height: 220px;
    text-align: center;
    background-color: #f1f1f1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.cardA:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
.cardA:hover > .banner{
    visibility: visible;
}

.cardTrend {
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 55%;
    height: 130px;
    text-align: center;
    background-color: #f1f1f1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.cardTrend:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
.cardTrend:hover > .banner{
    visibility: visible;
}

/*.banner{*/
/*    font-size: 13px;*/
/*    background-color: #FFFFFF;*/
/*    text-align: center;*/
/*    padding-bottom: 17px;*/
/*    visibility: hidden;*/
/*}*/

#dropDown{
    width: 10%;
    margin: 0 auto;
}

.shortcut:hover{
    cursor: pointer;
}